@import "../../variables";

.navbar .navbar-brand {
	font-size: 2rem;
}

.navbar .nav-link {
	font-size: 1.4rem;
}

.nav-link:hover,
.active,
.active:hover,
.active:focus {
	color: $warning !important;
	transition: color 0.5s;
}

.nav-link {
	color: rgba(255, 255, 255, 0.5);
}

.nav-link,
.nav-btn {
	margin-left: 1.2rem !important;
	margin-right: 1.2rem !important;
}

@media screen and (max-width: 860px) {
	.navbar-brand {
		color: $warning !important;
	}
}
